/* Botão hambúrguer */
#mobile-menu {
  display: none; /* desktop: escondido */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 9999;
}

#mobile-menu span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
}

/* Menu mobile */
#nav-list {
  display: flex; /* desktop: horizontal */
  list-style: none;
}

@media (max-width: 768px) {
  #nav-list {
    display: none; /* escondido inicialmente */
    flex-direction: column;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;
    top: 100%;
    left: 0;
  }

  #nav-list.active {
    display: flex; /* abre quando o JS adiciona a classe .active */
  }

  #mobile-menu {
    display: flex; /* botão aparece no mobile */
  }
}
